@{
   
    Layout = null;
}
<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/skote-mvc/layouts/auth-login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 May 2024 03:44:58 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Login | SoftwareCafe ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose ERP" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">
    <link href="~/Content/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/Content/assets/libs/owl.carousel/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Content/assets/libs/owl.carousel/assets/owl.theme.default.min.css">

    <!-- Bootstrap Css -->
    <link href="~/Content/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="auth-body-bg">

    <div>
        <div class="container-fluid p-0">
            <div class="row g-0">

                <div class="col-xl-9">
                    <div class="auth-full-bg pt-lg-5 p-4">
                        <div class="w-100">
                            <div class="bg-overlay"></div>
                            <div class="d-flex h-100 flex-column">

                                <div class="p-4 mt-auto">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-7">
                                            <div class="text-center">

                                                <h4 class="mb-3"><i class="bx bxs-quote-alt-left text-primary h1 align-middle me-3"></i><span class="text-primary">5k</span>+ Satisfied clients</h4>

                                                <div dir="ltr">
                                                    <div class="owl-carousel owl-theme auth-review-carousel" id="auth-review-carousel">
                                                        @*<div class="item">
                                                                <div class="py-3">
                                                                    <p class="font-size-16 mb-4">" Fantastic theme with a ton of options. If you just want the HTML to integrate with your project, then this is the package. You can find the files in the 'dist' folder...no need to install git and all the other stuff the documentation talks about. "</p>

                                                                    <div>
                                                                        <h4 class="font-size-16 text-primary">Abs1981</h4>
                                                                        <p class="font-size-14 mb-0">- Skote User</p>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="item">
                                                                <div class="py-3">
                                                                    <p class="font-size-16 mb-4">" If Every Vendor on Envato are as supportive as Themesbrand, Development with be a nice experience. You guys are Wonderful. Keep us the good work. "</p>

                                                                    <div>
                                                                        <h4 class="font-size-16 text-primary">nezerious</h4>
                                                                        <p class="font-size-14 mb-0">- Skote User</p>
                                                                    </div>
                                                                </div>

                                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xl-3">
                    <div class="auth-full-page-content p-md-5 p-4">
                        <div class="w-100">

                            <div class="d-flex flex-column h-100">
                                <div class="mb-4 mb-md-5">
                                    <a href="index.html" class="d-block auth-logo">
                                        <img src="~/Content/rlogo.jpg" alt="" height="100" class="auth-logo-dark">
                                        <img src="~/Content/rlogo.jpg" alt="" height="100" class="auth-logo-light">
                                    </a>
                                </div>
                                <div class="my-auto">

                                    <div>
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        <p class="text-muted">Sign in to continue Kitchen Hub.</p>
                                    </div>

                                    <div class="mt-4">


                                        <div class="mb-3">
                                            <label for="user_name" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter username">
                                        </div>

                                        <div class="mb-3">
                                            <div class="float-end">
                                                <a href="#" class="text-muted">Forgot password?</a>
                                            </div>
                                            <label class="form-label">Password</label>
                                            <div class="input-group auth-pass-inputgroup">
                                                <input type="password" class="form-control" placeholder="Enter password" aria-label="Password" id="pass" name="pass" aria-describedby="password-addon">
                                                <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember_token" name="remember_token">
                                            <label class="form-check-label" for="remember-check">
                                                Remember me
                                            </label>
                                        </div>

                                        <div class="mt-3 d-grid">
                                            <button class="btn btn-primary waves-effect waves-light" type="button" onclick="Login()">Log In</button>
                                        </div>


                                        @*<div class="mt-4 text-center">
                                                <h5 class="font-size-14 mb-3">Sign in with</h5>

                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                                                            <i class="mdi mdi-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                                                            <i class="mdi mdi-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                                                            <i class="mdi mdi-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>*@

                                        @*<div class="mt-5 text-center">
                                                <p>Don't have an account ? <a href="auth-register-2.html" class="fw-medium text-primary"> Signup now </a> </p>
                                            </div>*@
                                    </div>
                                </div>

                                @*<div class="mt-4 mt-md-5 text-center">
                                        <p class="mb-0">
                                            ©
                                            <script>document.write(new Date().getFullYear())</script> Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                                        </p>
                                    </div>*@
                            </div>


                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/assets/libs/node-waves/waves.min.js"></script>

    <!-- owl.carousel js -->
    <script src="~/Content/assets/libs/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/Content/assets/js/pages/sweet-alerts.init.js"></script>
    <!-- auth-2-carousel init -->
    <script src="~/Content/assets/js/pages/auth-2-carousel.init.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/app.js"></script>

</body>

<!-- Mirrored from themesbrand.com/skote-mvc/layouts/auth-login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 May 2024 03:44:58 GMT -->
</html>
<script>
    $(document).ready(function () {
        // Listen for "Enter" key press on the password input field
        $('#pass').keypress(function (e) {
            if (e.which === 13) { // 13 is the keycode for "Enter"
                Login(); // Call the submitForm function
            }
        });
    });
    function Login() {

        // Create logic
     
        var formData = new FormData();
        formData.append('user_mail', $('#user_name').val());
        formData.append('pass', $('#pass').val());
        formData.append('remember_token', $('#remember_token').is(':checked'));


        if ($('#user_name').val() == '' || $('#user_name').val() == null) {
            Swal.fire({
                text: "Please Enter valid email OR mail!",
                title: "Warning!",
                icon: 'error',
            });

            return false;
        }
        if ($('#pass').val() == '' || $('#pass').val() == null) {
            Swal.fire({
                text: "Please Enter Password!",
                title: "Warning!",
                icon: 'error',
            });

            return false;
        }
        Swal.showLoading();
        $.ajax({
            type: 'POST',
            url: '/Auth/GetData',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                $('#user_name').val('');
                $('#pass').val('');
                $('#remember_token').prop('checked', false);
                Swal.close();
                if (result.success) {
Swal.fire({
    title: 'Success',
    text: result.Message,
    icon: 'success',
    timer: 1000, // Set a timer for 2 seconds (adjust as needed)
    showConfirmButton: false // Hide the "OK" button
}).then(() => {
    window.location.href = '@Url.RouteUrl("Dashboard")';
});
                } else {
                    $('#user_name').val('');
                    $('#pass').val('');
                    $('#remember_token').prop('checked', false);
                    Swal.fire({
                        title: 'Opps..',
                        text: result.Message,
                        icon: 'error'
                    });
                }
            },
            error: function (result) {
                $('#user_name').val('');
                $('#pass').val('');
                $('#remember_token').prop('checked', false);
                Swal.fire({
                    title: 'Opps..',
                    text: result.Message,
                    icon: 'error'
                });
            }
        });

    }
</script>